@using TheGateService.Database
@using TheGateService.Types
@using TheGateService.Utilities

@{
    var session = Html.GetAuthSession();
}
<header id="header" class="navbar">
    <div class="navbar-inner">
        <a class="brand" href='@Url.Content("~/home")'>The Gate</a>
        <div class="navbar-search pull-right" id="navbar-search">
            <input type="text" class="search-query" placeholder="Search" autocomplete="off" data-provide="typeahead"/>
        </div>
        @if (session.IsAuthenticated) {
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Welcome, @session.FirstName!
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @if (session.HasRole(UserType.User.ToString())) {
                            var itemCount = (new ShoppingCartDbProvider().Get(Html.GetUserId()) ?? new ShoppingCart()).Items.Count;
                            var itemStr = itemCount != 0 ? @" <span class=""badge badge-info"">{0}</span>".Fmt(itemCount) : "";
                            <li>
                                <a href='@Url.Content("~/cart")'>
                                    <i class="icon-shopping-cart"></i> Shopping Cart @{ WriteLiteral(itemStr); }
                                </a>
                            </li>
                            <li class="divider"></li>
                        }
                        @if (session.HasRole(UserType.Administrator.ToString())) {
                            <li><a href='@Url.Content("~/admin")'><i class="icon-list-alt"></i> Product Management</a></li>
                            <li class="divider"></li>
                        } 
                        <li><a href='@Url.Content("~/logout")'><i class="icon-lock"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        } else {
            <form id="login" class="navbar-form pull-right" action='@Url.Content("~/login")' method="POST">
                <input name="username" type="text" placeholder="Username"/>
                <input name="password" type="password" placeholder="Password"/>
                <input class="btn btn-info" type="submit" value="Login"/>
                <a href="@Url.Content("~/register")" class="btn">Register</a>
            </form>
        }
    </div>
</header>
