@using TheGateService.Utilities

@{
    var session = Html.GetAuthSession();
}

<header id="header" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href='@Url.Content("~/home")'>The Gate</a>
    <form class="navbar-search pull-right">
      <input type="text" class="search-query" placeholder="Search"/>
    </form>
      @if (session.IsAuthenticated) {
          <form id="login" class="navbar-form pull-right" action='@Url.Content("~/Logout")' method="POST">
              <label class="label">@session.FirstName @session.LastName</label>
              <input class="btn btn-info" type="submit" value="Logout"/>
          </form>
      } else {
        <form id="login" class="navbar-form pull-right" action='@Url.Content("~/Login")' method="POST">
          <input name="username" type="text" placeholder="Username"/>
          <input name="password" type="password" placeholder="Password"/>
          <input class="btn btn-info" type="submit" value="Login"/>
        </form>
      }
    </div>
</header>