@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq

@{
    ViewBag.Title = "Admin Panel";
    Layout = "MainLayout";
}
<table class="table table-striped">
    <tr>
        <th>Product Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Featured</th>
        <th>Showcase</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var product in @Model.Results) {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>$@product.Price</td>
            <td>@product.Quantity</td>
            <td><input type="checkbox" class="checkbox featured" @(product.Featured ? "checked": "") value="Featured"/></td>
            <td><input type="checkbox" class="checkbox showcase" @(product.Showcase ? "checked": "") value="Showcase"/></td>
            <td><input class="btn" type="button" value="Edit" /></td>
            <td><input class="btn btn-danger" type="button" value="Delete" /></td>
        </tr>
    }
</table>
