@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq
@using TheGateService.Database
@using TheGateService.Extensions

@{
    ViewBag.Title = "Admin Panel";
    Layout = "MainLayout";
    var products = new ProductDbProvider().GetAll().ToList();
}
<div name = "table" class = "span12">
<table cellpadding = '5'>
    <tr>
		<th>Product Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
		<th>Quantity</th>
		<th>Featured</th>
		<th>Showcase</th>
    </tr>
    @foreach (var product in @Model.Results) {
        <tr>
			<td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>$@product.Price</td>
            <td>@product.Quantity</td>
			<td>@product.Featured</td>
			<td>@product.Showcase</td>
        </tr>
    }
</table>
</div>