@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq
@using TheGateService.Endpoints
@using TheGateService.Extensions
@inherits ViewPage<TheGateService.Types.HomePage>

@{
    ViewBag.Title = "The Gate";
    Layout = "MainLayout";
    var products = ProductService.SampleProducts.Shuffle().ToList();
}

<h2>What's Hot</h2>
<div id="showcaseCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#showcaseCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#showcaseCarousel" data-slide-to="1"></li>
        <li data-target="#showcaseCarousel" data-slide-to="2"></li>
    </ol>
    @* Carousel items *@
    <div class="carousel-inner">
        @{ var showcase = products.GetRange(0, 3); }
        @foreach (var p in showcase) {
            <div class="item @(showcase.IndexOf(p) == 0 ? "active" : "")">
                <a href="@Url.Content("~/products/{0}".F(p.Id))"><img src="http://placehold.it/780x580" alt="" width="780" height="580"/></a>
                <div class="carousel-caption">
                    <h4>@p.Name</h4>
                    <p>
                        @p.Description
                    </p>
                </div>
            </div>
        }
    </div>
    @* Carousel navigation *@
    <a class="carousel-control left" href="#showcaseCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#showcaseCarousel" data-slide="next">&rsaquo;</a>
</div>
@for (var i = 0; i < 2; i++) {
    var featured = products.GetRange(3 * (i + 1), 3);
    <div class="row-fluid">
        @foreach (var p in featured) {
            <div class="span4 home-product-info">
                <img src="http://placehold.it/100x100" alt="" class="pull-left"/>
                <h4><a href="@Url.Content("~/products/{0}".F(@p.Id))">@p.Name</a></h4>
                <h6>$@p.Price</h6>
                <p>@p.Description</p>
            </div>
        }
    </div>
}
<script type="text/javascript">
    $(document).ready(function() {
        $('#showcaseCarousel').carousel('cycle');
    })
</script>