@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq
@inherits ViewPage<TheGateService.Responses.ProductResponse>

@{
    ViewBag.Title = @Model.Product.Name;
    Layout = "MainLayout";
}
<h2>@Model.Product.Name</h2>
<div class="row-fluid">
    <div class="span4">
        <img src="@(Model.Product.ImageUrl ?? "http://placehold.it/400x400")" alt=""/>
    </div>
    <div class="span8">
        <h3>$@Model.Product.Price</h3>
        <p>@Model.Product.Description</p>
	    <form id="cart-add-@Model.Product.Id" action="@Url.Content("~/cart/item")" method="POST">
	        <input type="hidden" name="redirectTo" value="@Url.Content("~/products/{0}".Fmt(Model.Product.Id))"/>
	        <input type="hidden" name="productId" value="@Model.Product.Id" />
	        <input type="hidden" name="quantity" value="1" />
	        <button class="btn btn-success" type="submit" value="Add to Cart">Add to Cart</button>
	    </form>
    </div>
</div>
